.bottom-bar-container {
	position: absolute;
	bottom: 0px;
	height: 112px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 120px;
	padding-right: 120px;
	box-sizing: border-box;
}

.bottom-bar-items {
	display: flex;
}
