.button-container {
	height: 48px;
	display: flex;
	align-items: center;
	color: #ffffff;
	border-radius: 24px;
	cursor: pointer;
	user-select: none;
	justify-content: center;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
}
