@import './../../../styles/colors.scss';

.tooltip {
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translate(-50%, -100%);
	background: #4A73E2;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	min-width: 256px;
}

.tooltip-text-container {
	display: flex;
	padding: 12px 12px 12px 24px;
}

.tooltip-divider {
	width: 1px;
	background: rgba(255, 255, 255, 0.2);
	flex-shrink: 0;
}

.tooltip-close-button-container {
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.tooltip-close-button {
	cursor: pointer;
}

.tooltip-arrow-down {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-top: 12px solid #4A73E2;
}
