$primary: rgba(74, 115, 226, 1);

$text-daylight-2: rgba(0, 0, 0, 0.6);
$text-daylight-3: rgba(0, 0, 0, 0.3);

$text-dark-1: rgba(255, 255, 255, 1);

/* LEGACY COLORS */

// GREYSCALE
$color-white: #FAFAFA;
$color-grey-light: #EEE;
$color-grey-medium: #D8D8D8;
$color-grey-default: #979797;
$color-grey-dark: #616161;
$color-grey-darkest: #212121;
$color-black: #000;

// REDS
$color-pink: #FF3571;
$color-pink-dark: #AD0034;
$color-pink-light: #FF87AA;
$color-red: #FF4000;
$color-red-dark: #CC0000;

// MODALS
$color-modal-transparecy: 0.93;

// USAGE
$color-primary: $color-grey-light;
$color-secondary: $color-grey-light;
$color-action: $color-pink;
$color-divider: $color-grey-dark;
