$font-family-header: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family: 'Inter', sans-serif;
$base-font-size: 16px;
$header-font-size: 20px;
$tiny-font-size: 0.8em;
$med-font-size: 1em;
